*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #fff;
 }
 .row{
     max-width: 1140px;
     margin: 0 auto;
 }
 /*STYLING FOR HEADER OF PAGE---------------------------------------------------------*/
 header{
     background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/hero.jpg);
     background-size: cover;
     background-position: center;
     height: 100vh;
 }
 .hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);   
}
 /*LOGO*/
 .logo{
     height: 125px;
     margin-top: 20px;
     width: auto;
     float: left;
 }
 /*NAV BAR*/
 .main-nav{
     margin-left: auto;
     margin-top: 60px;
    list-style: none;   
 }
 .main-nav li{
     display: inline-block;
     margin-left: 40px;
 }
 .main-nav li a:link,
 .main-nav li a:visited{
     padding: 8px 0;
     text-decoration: none;
     color: #fff;
     text-transform: uppercase;
     font-size: 1em;
     border-bottom: 2px dashed transparent;
 }
 .main-nav li a:hover,
 .main-nav li a:active{
    border-bottom: 2px solid #e67e22;
    transition: border-bottem 0.2s;
 }
 
 h1{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 500;
    letter-spacing: 2px;
    word-spacing: 6px;
    color:#fff;
    text-rendering: optimizeLegibility;
    margin: 0;
 }

 /*END STYLING FOR HEADER-----------------------------------*/

 /*FEATURES SECTION-----------------------------------------*/

 section{
     padding: 80px 0;
 }
/*GET FOOD FAST*/
 h2{
     font-family: 'Lato', Arial, Helvetica, sans-serif;
     font-size: 2.4em;
     letter-spacing: 2px;
     word-spacing: 4px;
     margin-bottom: 35px;
     text-align: center;
     text-rendering: optimizeLegibility;
     
 }
 /*HELLO, WE'RE OMNIFOOD*/
 #hello{
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        text-align: center;
        word-wrap: break-word;
        width: 60%;
        margin-left: 20%;
        line-height: 1.8em;
        margin-bottom: 35px;
     }
/*365 DAYS A YEAR, READY, ORGANIC, ORDER*/     
 h3{
    font-size: 1.6em;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
}
.icon-big{
    font-size: 2.6em;
    display: block;
    color:#e67e22;
    margin-bottom: 15px;
}
div p{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    line-height: 1.8em;
    
}
 